<!DOCTYPE html>
<html>
<body>

<h1>Monthly Sales Count Prediction</h1>
<form action="prediction" method="post">
    <label for="category">Enter the Category of textile:</label><br>
    <input type="text" id="category" name="category"><br><br>
    <label for="style">Enter the Style of textile:</label><br>
    <input type="text" id="style" name="style"><br><br>
    <label for="month">Enter the Month of sales:</label><br>
    <input type="text" id="month" name="month"><br><br>
    <input type="submit">
  </form>

    
</body>
</html>